<!DOCTYPE html>
   <head>
        
        <title>New Article</title>
        
       
    </head>
    <body>
        <h1> Enter Article Below </h1>
           <form method= "POST" action= "/article">
                 <div>
                    <p> Title: <input type= "text" name= "title"/> </p>
                    <p> content: <input type= "text" name= "content"/> </p>
                    <input type= "submit" value= "Create Article"> 
                 </div>
            </form> 
    </body>
</html>