<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Create an Article</title>
 </head>
 <body>
    <h1>Create an Article</h1>
    <form method = "POST" action = "/articles">
        <p>Article Title: <input type="text" name="title"></p>
        <p>Content: <input type="text" name="content"></p>
        <input type="submit" id="submit">
    </form>
 </body>
</html>