<!DOCTYPE html>
<html>
<head></head>
<body>
<h1><%= @title %></h1>
<h2><%= @content %> </h2>

    <form action="" method="Post">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <input type='submit' name='Delete' />
    </form>
</body>

</html>